<div class="wrap">
    <div class="container">
        <div class="info">
            <div class="row">
                <div class="col-lg-7">
                    <div class="info__prf">
                        <div class="info__prf-tittle">
                            <span>thông tin giáo viên</span>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="info__prf-userpic">
                                    <div><img
                                            src="https://media.istockphoto.com/photos/young-man-arms-outstretched-by-the-sea-at-sunrise-enjoying-freedom-picture-id1285301614?b=1&k=20&m=1285301614&s=170667a&w=0&h=tDEC2-p91cZiNU5C19sVhB9L08PmaH5wIijCvRDalCI="
                                            alt="" class="info__prf-userpic-img" /></div>
                                    <a href="">xem chi tiết</a>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="info__prf-introduce">
                                    <div class="info__prf-introduce-body">
                                        <p>MAGV: <span>{{Teacher.MAGV}}</span> </p>
                                        <p>Họ tên: <span>{{Teacher.HOTEN}}</span> </p>
                                        <p>Ngày sinh: <span>{{Teacher.NGSINH}}</span> </p>
                                        <p>Giới tính: <span>{{Teacher.PHAI}}</span> </p>
                                        <p>Địa chỉ:<span>{{Teacher.DIACHI}}</span> </p>
                                    </div>
                                    <div class="info__prf-introduce-body">
                                        <p>MABM: <span>{{Teacher.MABM}}</span> </p>
                                        <p>Mức Lương: <span>{{Teacher.LUONG}}</span> </p>
                                        <p>Tên Bộ Môn: <span>{{Teacher.TENBM}}</span> </p>
                                        <p>Mã Khoa: <span>{{Teacher.MAKHOA}}</span> </p>
                                        <p>Tên Khoa: <span>{{Teacher.TENKHOA}}</span> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="Menu__List">
                        <div class="Menu__List-notifi">
                            <h3 class="Menu__List-notifi-text">Nhắc nhở mới, chưa xem</h3>
                            <div class="Menu__List-notifi-remid">
                                <span class="Menu__List-notifi-remid-text">0</span>
                                <i class="far fa-bell Menu__List-notifi-remid-icon"></i>
                            </div>
                            <a href="" class="Menu__List-notifi-link">xem chi tiết</a>
                        </div>
                        <div class="Menu__List-schedule">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <a href="#" class="Menu__List-schedule-stu Menu__List-schedule-lean">
                                        <h2 class="Menu__List-schedule-stu-tittle">xem lịch học</h2>
                                        <div class="Menu__List-schedule-stu-remid">
                                            <span class="Menu__List-schedule-stu-remid-text">0</span>
                                            <i class="far fa-calendar-alt Menu__List-schedule-stu-remid-icon"></i>
                                        </div>
                                        <p>xem chi tiết</p>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <a href="#" class="Menu__List-schedule-stu Menu__List-schedule-test">
                                        <h2 class="Menu__List-schedule-stu-tittle">xem lịch học</h2>
                                        <div class="Menu__List-schedule-stu-remid">
                                            <span class="Menu__List-schedule-stu-remid-text">0</span>
                                            <i class="far fa-calendar-check Menu__List-schedule-stu-remid-icon"></i>
                                        </div>
                                        <p>xem chi tiết</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured">
            <div class="row">
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-4 col-6">
                    <a href="" class="featured-item">
                        <i class="fas fa-suitcase-rolling featured-item-icon"></i>
                        <p class="featured-item-desc">thanh toán trực tuyến</p>
                    </a>
                </div>


            </div>
        </div>
        <div class="slider">
            <div class="slider-iteams">
                <div class="slider__item">
                    <div class="slider__item-overlay">
                        <a href="#" class="slider__item-overlay-link">
                            xem chi tiết
                        </a>
                    </div>
                    <img src="https://hufi.edu.vn/images/anh-dai-dien/csvc-hufi-000.jpg" alt=""
                        class="slider__item-img">
                    <div class="slider__item-body">
                        <h3 class="slider__item-body-title">Giới thiệu</h3>
                        <p class="slider__item-body-desc">hêloo Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                            sit amet Lorem ipsum dolor sit amet </p>
                        <a class="slider__item-body-link" href="#">xem chi tiết</a>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-overlay">
                        <a href="#" class="slider__item-overlay-link">
                            xem chi tiết
                        </a>
                    </div>
                    <img src="https://hufi.edu.vn/images/anh-dai-dien/csvc-hufi-000.jpg" alt=""
                        class="slider__item-img">
                    <div class="slider__item-body">
                        <h3 class="slider__item-body-title">Giới thiệu</h3>
                        <p class="slider__item-body-desc">hêloo Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                            sit amet Lorem ipsum dolor sit amet </p>
                        <a class="slider__item-body-link" href="#">xem chi tiết</a>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-overlay">
                        <a href="#" class="slider__item-overlay-link">
                            xem chi tiết
                        </a>
                    </div>
                    <img src="https://hufi.edu.vn/images/anh-dai-dien/csvc-hufi-000.jpg" alt=""
                        class="slider__item-img">
                    <div class="slider__item-body">
                        <h3 class="slider__item-body-title">Giới thiệu</h3>
                        <p class="slider__item-body-desc">hêloo Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                            sit amet Lorem ipsum dolor sit amet </p>
                        <a class="slider__item-body-link" href="#">xem chi tiết</a>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-overlay">
                        <a href="#" class="slider__item-overlay-link">
                            xem chi tiết
                        </a>
                    </div>
                    <img src="https://hufi.edu.vn/images/anh-dai-dien/csvc-hufi-000.jpg" alt=""
                        class="slider__item-img">
                    <div class="slider__item-body">
                        <h3 class="slider__item-body-title">Giới thiệu</h3>
                        <p class="slider__item-body-desc">hêloo Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                            sit amet Lorem ipsum dolor sit amet </p>
                        <a class="slider__item-body-link" href="#">xem chi tiết</a>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-overlay">
                        <a href="#" class="slider__item-overlay-link">
                            xem chi tiết
                        </a>
                    </div>
                    <img src="https://hufi.edu.vn/images/anh-dai-dien/csvc-hufi-000.jpg" alt=""
                        class="slider__item-img">
                    <div class="slider__item-body">
                        <h3 class="slider__item-body-title">Giới thiệu</h3>
                        <p class="slider__item-body-desc">hêloo Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                            sit amet Lorem ipsum dolor sit amet </p>
                        <a class="slider__item-body-link" href="#">xem chi tiết</a>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-overlay">
                        <a href="#" class="slider__item-overlay-link">
                            xem chi tiết
                        </a>
                    </div>
                    <img src="https://hufi.edu.vn/images/anh-dai-dien/csvc-hufi-000.jpg" alt=""
                        class="slider__item-img">
                    <div class="slider__item-body">
                        <h3 class="slider__item-body-title">Giới thiệu</h3>
                        <p class="slider__item-body-desc">hêloo Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                            sit amet Lorem ipsum dolor sit amet </p>
                        <a class="slider__item-body-link" href="#">xem chi tiết</a>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-overlay">
                        <a href="#" class="slider__item-overlay-link">
                            xem chi tiết
                        </a>
                    </div>
                    <img src="https://hufi.edu.vn/images/anh-dai-dien/csvc-hufi-000.jpg" alt=""
                        class="slider__item-img">
                    <div class="slider__item-body">
                        <h3 class="slider__item-body-title">Giới thiệu</h3>
                        <p class="slider__item-body-desc">hêloo Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                            sit amet Lorem ipsum dolor sit amet </p>
                        <a class="slider__item-body-link" href="#">xem chi tiết</a>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__item-overlay">
                        <a href="#" class="slider__item-overlay-link">
                            xem chi tiết
                        </a>
                    </div>
                    <img src="https://hufi.edu.vn/images/anh-dai-dien/csvc-hufi-000.jpg" alt=""
                        class="slider__item-img">
                    <div class="slider__item-body">
                        <h3 class="slider__item-body-title">Giới thiệu</h3>
                        <p class="slider__item-body-desc">hêloo Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                            sit amet Lorem ipsum dolor sit amet </p>
                        <a class="slider__item-body-link" href="#">xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="slider__prev">
                <i class="fas fa-chevron-left slider-icon"></i>
            </div>
            <div class="slider__next">
                <i class="fas fa-chevron-right slider-icon"></i>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="footer-column">
                    <h3 class="footer-column__title">Campany</h3>
                    <ul class="footer-column__list">
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">About Us</a></li>
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">Outs Sevices</a></li>
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">Privacy policy</a></li>
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">Program education</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="footer-column">
                    <h3 class="footer-column__title">Get Help</h3>
                    <ul class="footer-column__list">
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">FAQ</a></li>
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">Shipping</a></li>
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">Returns</a></li>
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">Order startus</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="footer-column">
                    <h3 class="footer-column__title">Online school</h3>
                    <ul class="footer-column__list">
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">Watch</a></li>
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">Bag</a></li>
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">Shoes</a></li>
                        <li class="footer-column__list-item"><a href="" class="footer-column__list-item-link">Dress</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="footer-column">
                    <h3 class="footer-column__title">Follow US</h3>
                    <div class="row">
                        <div class="col-6">
                            <a href=""><i class="fab fa-facebook footer-icon"> </i></a>
                        </div>
                        <div class="col-6">
                            <a href=""><i class="fab fa-instagram footer-icon"></i></a>
                        </div>
                        <div class="col-6">
                            <a href=""><i class="fab fa-twitter footer-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>


<script>
    const btnNext = document.querySelector('.slider__next');
    const btnPrev = document.querySelector('.slider__prev');

    const sliderItems = document.querySelectorAll('.slider__item');
    var a = 0;
    var i = 0;
    btnNext.onclick = () => {
        if (i < sliderItems.length - 1) {
            a = a - 290;
            sliderItems.forEach((sliderItem) => {
                sliderItem.style.transform = `translateX(${a}px)`;
            })
            i++;
        }
        else {
            i = 0;
            a = 0;
            sliderItems.forEach((sliderItem) => {
                sliderItem.style.transform = `translateX(${a}px)`;
            })
        }
    }
    btnPrev.onclick = () => {
        if (i > 0) {
            a = a + 290;
            sliderItems.forEach((sliderItem) => {
                sliderItem.style.transform = `translateX(${a}px)`;
            })
            i--;
        }
    }


</script>